# Environment variables
# .env

# Git
.git/
.gitignore

# Build
dist/
node_modules/

# Configs
.editorconfig
.eslintrc.js
.prettierrc*

.vscode/


# Docker
.dockerignore
Dockerfile*
docker-compose*

# Test
test/
coverage/
jest*

# Other
*.md
